{
  "env": {
    "browser": true
  },
  "globals": {
    "angular": true
  },
  "reset": true,
  "rules": {
    "quotes": [2, "single", {"avoidEscape": true}],
    "eqeqeq": 2,
    "max-statements-per-line": [2, { "max": 1 }],
    "one-var": [2, "never"],
    "no-extra-semi": 2,
    "semi": 2,
    "space-before-blocks": 2,
    "space-unary-ops": [
      2, {
        "words": true,
        "nonwords": true,
        "overrides": {
          "++": false,
          "--": false,
          "!": false,
          "!!": false,
          "-": false,
          ".": false,
          "[": false,
          "/": false
        }
      }],
    "comma-spacing": [2, { "before": false, "after": true }],
    "spaces-in-brackets": [0, "never"],
    "object-curly-spacing": [0, "never"],
    "array-bracket-spacing": [0, "never"],
    "computed-property-spacing": [0, "never"],
    "space-infix-ops": 2,
    "key-spacing": [2, {
      "singleLine": {
        "beforeColon": false,
        "afterColon": true
      },
      "multiLine": {
        "beforeColon": false,
        "afterColon": true
      }
    }],
    "camelcase": 0,
    "curly": 2,
    "dot-notation": [2, {"allowPattern": "^[a-zA-Z]+$"}],
    "indent": 2,
    "no-else-return": 2,
    "radix": 2,
    "no-unused-vars": 1,
    "comma-dangle": [2, "never"],
    "no-inline-comments": 2,
    "keyword-spacing": [2, { "overrides": {
      "if": { "after": false },
      "for": { "after": false },
      "while": { "after": false }
    }}],
    "no-empty-function": 2,
    "no-empty": 2


    /*"smarter-eqeqeq": 0,
    "brace-style": 1,
    "camelcase": 2,
    "curly": 2,
    "dot-notation": 1,
    "eqeqeq": 1,
    "new-parens": 2,
    "guard-for-in": 0,
    "radix": 0,
    "new-cap": 2,
    "quote-props": 0,
    "semi": 2,
    "use-isnan": 2,
    "quotes": [1, "double"],
    "max-params": [0, 3],
    "max-statements": [0, 10],
    "regex-spaces": 2,
    "complexity": [0, 11],
    "wrap-iife": 1,
    "no-multi-str": 2*/
  }
}